/* grid layout

Grid {
	Inner Grid {
		+Measures {
			+Columns {
				8 Squares
			}
		}
	}
}


 */

.grid_square
{
	
}
 
/* Square */
#grid > div > div > div > div > div
{
	border:1px solid #AAAAAA;
	float:left;
	margin-bottom:1px;
	width: 40px;
	height: 40px;
	cursor:pointer;
}

/* Octave */
#grid > div > div > div > div
{
	margin-bottom: 4px;
}

/* Column */
#grid > div > div > div
{
	float:left;
	padding-top:1px;
	margin-left:1px;
}

/* Measure */
#grid > div > div
{
	float:left;
	margin-right:4px;
}

#grid
{
	border:2px solid #000000;
	overflow-y:hidden;
	overflow-x:auto;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

#extender
{
	background-color:#CCCCCC;
	float:left;
	margin-top:1px;
	cursor:pointer;
}

/* Instrument Specific Style: */
.piano { background-color:blue; }
.guitar { background-color:green; }
.drum { background-color:red; }
.trumpet { background-color:yellow; }
.violin { background-color:orange; }

#grid > div {position:absolute;}


/*/// Other*/




#output
{
	width:700px;
	height:50px;
	border:1px solid;
	float:left;
	overflow:scroll;
}


